
.DS_Store
code/.ipynb_checkpoints/Merced_Strontium-checkpoint.ipynb
data/.ipynb_checkpoints/DePaolo1986_srvalues-checkpoint.csv
data/.ipynb_checkpoints/Capo1990_srvalues-checkpoint.csv
data/.ipynb_checkpoints/Farrell1995_srtables-checkpoint.csv
data/.ipynb_checkpoints/McArthur2006_srvalues-checkpoint.csv
code/.ipynb_checkpoints/Merced_provenance-checkpoint.ipynb
data/.ipynb_checkpoints/Ingram1998_srvalues_adjusted-checkpoint.csv
code/code_images/.ipynb_checkpoints/Zuky2018_Fig2-checkpoint.png
data/Hall1965_data/.ipynb_checkpoints/combined_heavy_mineral_data-checkpoint.csv
code/.ipynb_checkpoints/Merced_pmag-checkpoint.ipynb
code/.Rhistory
code/.ipynb_checkpoints/Merced_detrital_zircon-checkpoint.ipynb
code/Output/.ipynb_checkpoints/interSampleComparison-checkpoint.csv
code/.ipynb_checkpoints/Merced_bedding-checkpoint.ipynb
data/QEMSCAN/~$RAG-data.xlsx
data/pystrat_data/.ipynb_checkpoints/color_style-checkpoint.csv
data/pystrat_data/.ipynb_checkpoints/lithostratigraphy-checkpoint.csv
data/pystrat_data/.ipynb_checkpoints/width_style-checkpoint.csv
